body {
    background-image: linear-gradient(115deg,rgba(58, 58, 158, 0.8),rgba(136, 136, 206, 0.7)),  url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    display: block;
}

form {
    width: 90%;
    margin: auto;
    background-color: rgb(34, 10, 80);
    opacity: 0.8;
    color: white;
    font-family: sans-serif;
    border-radius: 8px;
    border-width: 1px;
    padding: 20px;
    background-clip: padding-box;
}
h1, h1 + p {
    color: white;
    font-family: sans-serif;
    text-align: center;
}

#name,#email,#age,#additional  {
    margin: 0 auto;
    display: block;
    width: 90%;
}
